<section class="how-it-works-section" id="how-it-works">
  <h2 class="how-it-works-title visually-hidden">How it works</h2>
  <div class="how-it-works-section-part-one">
    <div class="how-it-works-img-container">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how-it-works/desktop_1x.webp 1x,
            /img/how-it-works/desktop_2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how-it-works/tablet_1x.webp 1x,
            /img/how-it-works/tablet_2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/how-it-works/mobile_1x.webp 1x,
            /img/how-it-works/mobile_2x.webp 2x
          "
        />
        <img
          class="how-it-works-img"
          src="/img/how-it-works/mobile_1x.webp"
          alt="Sporty woman cutting fruits"
        />
      </picture>
    </div>
  </div>
  <div class="how-it-works-section-part-two">
    <div class="how-it-works-content-container">
      <p class="how-it-works-order-text">
        To order your
        <span class="how-it-works-accent">vegetable</span> basket, simply follow
        these <span class="how-it-works-accent">easy steps</span>
      </p>
      <p class="how-it-works-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="how-it-works-list">
        <li class="how-it-works-list-item">
          <p class="how-it-works-list-item-text">
            Just choose
            <span class="how-it-works-list-accent">the vegetable</span> you want
            to order by clicking on the checkboxes
            <span class="how-it-works-list-accent">next to it</span>.
          </p>
        </li>
        <li class="how-it-works-list-item">
          <p class="how-it-works-list-item-text">
            Click on
            <span class="how-it-works-list-accent">the basket</span> and fill
            out the form.
          </p>
        </li>
        <li class="how-it-works-list-item">
          <p class="how-it-works-list-item-text">
            Sit back and relax! Your
            <span class="how-it-works-list-accent">fresh vegetables</span>
            basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
