<section class="reviews">
    <div class="container">
      <div class="reviews-container">
        <h2 class="reviews-title">
          reviews from our <span class="reviews-title-edit">customers</span>
        </h2>
        <p class="reviews-text">
          Words of our customers: impressions and opinions about the quality of
          our services and the freshness of our products.
        </p>
      </div>
      <ul class="reviews-list">
        <li class="reviews-item">
          <img
            class="reviews-img"
            srcset="/img/reviews/1_1x.jpg 1x, /img/reviews/1_2x.jpg 2x"
            src="/img/reviews/1_1x.jpg"
            alt="reviews"
            width="56"
          />
          <h3 class="reviews-item-title">John Wax</h3>
          <p class="reviews-item-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>
        <li class="reviews-item">
          <img
            class="reviews-img"
            srcset="/img/reviews/2_1x.jpg 1x, /img/reviews/2_2x.jpg 2x"
            src="/img/reviews/2_1x.jpg"
            alt="reviews"
            width="56"
          />
          <h3 class="reviews-item-title">Victoria Romashenko</h3>
          <p class="reviews-item-text">
            I love how fast and fresh the vegetables are delivered. Salads always
            turn out so appetizing, and soups are real masterpieces. The quality
            is impeccable!
          </p>
        </li>
        <li class="reviews-item">
          <img
            class="reviews-img"
            srcset="/img/reviews/3_1x.jpg 1x, /img/reviews/3_2x.jpg 2x"
            src="/img/reviews/3_1x.jpg"
            alt="reviews"
            width="56"
          />
          <h3 class="reviews-item-title">Ihor Trachuk</h3>
          <p class="reviews-item-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my table.
            It is now my main vegetable supplier.
          </p>
        </li>
      </ul>
    </div>
  </section>