<section class="vegetables-section" id="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      Organic <span class="vegetables-accent">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">eggplant</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          class="vegetables-img"
          srcset="/img/vegetables/1_2x.webp 2x"
          src="/img/vegetables/1_1x.webp"
          alt="eggplant"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">leek</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          class="vegetables-img"
          srcset="/img/vegetables/2_2x.webp 2x"
          src="/img/vegetables/2_1x.webp"
          alt="leek"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">mushrooms</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          class="vegetables-img"
          srcset="/img/vegetables/3_2x.webp 2x"
          src="/img/vegetables/3_1x.webp"
          alt="mushrooms"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">corn</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          class="vegetables-img"
          srcset="/img/vegetables/4_2x.webp 2x"
          src="/img/vegetables/4_1x.webp"
          alt="corn"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">sweet potatoes</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          class="vegetables-img"
          srcset="/img/vegetables/5_2x.webp 2x"
          src="/img//vegetables/5_1x.webp"
          alt="sweet potatoes"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">carrot</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          class="vegetables-img"
          srcset="/img/vegetables/6_2x.webp 2x"
          src="/img/vegetables/6_1x.webp"
          alt="carrot"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
