<section class="vegetables-section" id="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      Organic <span class="vegetables-accent">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">eggplant</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          class="vegetables-img"
          scrset="/img/vegetables/eggplant@2x.png 2x"
          src="/img/vegetables/eggplant.png"
          alt="eggplant"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">leek</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          class="vegetables-img"
          scrset="/img/vegetables/leek@2x.png 2x"
          src="/img/vegetables/leek.png"
          alt="leek"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">mushrooms</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          class="vegetables-img"
          scrset="/img/vegetables/mushrooms@2x.png 2x"
          src="/img/vegetables/mushrooms.png"
          alt="mushrooms"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">corn</h3>
        <p class="vegetables-list-text">60 USD / kg</p>
        <img
          class="vegetables-img"
          scrset="/img/vegetables/corn@2x.png 2x"
          src="/img/vegetables/corn.png"
          alt="corn"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">sweet potatoes</h3>
        <p class="vegetables-list-text">50 USD / kg</p>
        <img
          class="vegetables-img"
          scrset="/img/vegetables/sweet-potatoes@2x.png 2x"
          src="/img//vegetables/sweet-potatoes.png"
          alt="sweet potatoes"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-list-title">carrot</h3>
        <p class="vegetables-list-text">40 USD / kg</p>
        <img
          class="vegetables-img"
          scrset="/img/vegetables/carrot@2x.png 2x"
          src="/img/vegetables/carrot.png"
          alt="carrot"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
