<section class="section-your-order">
  <div class="container-your-order">
    <h2 class="title-your-order">
      Fresh <span class="title-your-order-exception">Harvest</span> Box has got
      you covered
    </h2>
    <p class="container-your-order-paragraph">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="form-your-order" action="">
      <p class="order-form-paragraph">
        Ordering <span class="order-paragraph-exception-first">from us</span> is
        quick and easy! Fill out
        <span class="order-paragraph-exception-second">the form</span> below and
        we will contact you !
      </p>
      <input
        class="form-order-input"
        name="user-name"
        type="text"
        id="user-name"
        placeholder="Full Name"
        required
      />
      <input
        class="form-order-input"
        name="user-email"
        type="email"
        id="user-email"
        placeholder="Email"
        required
      />
      <textarea
        class="form-order-input"
        name="user-comment"
        id="user-comment"
        placeholder="Comment"
        required
      ></textarea>
      <button type="submit">SEND</button>
    </form>
    <div class="your-order-picture-container">
      <picture class="img-your-order">
        <source
          srcset="
            /src/img/your-order/desktop_1x.jpg 1x,
            /src/img/your-order/desktop_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            /src/img/your-order/tablet_1x.jpg 1x,
            /src/img/your-order/tablet_2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/img/your-order/mobile_1x.jpg 1x,
            /src/img/your-order/mobile_2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <!-- Fallback изображение -->
        <img src="/src/img/your-order/desktop_1x.jpg" alt="Your order image" />
      </picture>
      <p class="paragraph picture-cotainer-paragraph-follow">
        Follow us on our social networks:
      </p>
      <ul class="picture-cotainer-order-list">
        <li class="picture-cotainer-order-item">instagram</li>
        <li class="picture-cotainer-order-item">facebook</li>
        <li class="picture-cotainer-order-item">youtube</li>
      </ul>
    </div>
  </div>
</section>
