.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advertisement {
    margin-top: 83px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertes-p {
    display: block;
font-family: Inter Tight;
font-size: 48px;
font-weight: 600;
line-height: 50px;
letter-spacing: -0.015em;
text-align: left;
width: 335px;
color: #141414;
text-transform: uppercase;

}

.green-text {
    display: block;
    color: #FBFBFB;
    background-color: #576F35;
    border-radius: 12px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  
    .advertes-p {
        font-family: Inter Tight;
font-size: 64px;
font-weight: 600;
line-height: 70px;
letter-spacing: -0.015em;
text-align: left;

        width: 704px;
}

.green-text { 
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}


}


@media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding: 0 100px;
    }

    .advertisement {
        margin-top: 108px;
        margin-bottom: 100px;
    }


    .advertes-p {
        font-family: Inter Tight;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: -0.015em;
        text-align: left;
        width: 704px;

  }
    
  }