.page-footer {
    background-color: #7A3145;
}

.footer-container {
    padding: 40px 20px;
}

.footer-logo-text-container {
    margin-bottom: 40px;
}

.footer-logo {
    fill: #FBFBFB;
    display: flex;

    margin-bottom: 14px;
}

.footer-logo-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;

    width: 269px;
}

.footer-nav {
    margin-bottom: 40px;
}

.anchor-link-list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.anchor-link {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}

.address {
    margin-bottom: 80px;
}

.address-contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.address-contacts-item {
    display: flex;
    flex-direction: column;
}

.address-contacts {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    font-style: normal;
    text-decoration: none;
}

.footer-lower-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
}

.footer-lower-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

.footer-lower-link {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

.footer-lower-link-two {
    width: 4px;
}

.footer-lower-paragraph {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width: 768px) {
.footer-container {
    padding: 32px;
}

.footer-logo-text-container {
    margin-bottom: 0;
    margin-right: auto;
}

.footer-logo {
    width: 194px;
    height: 18px;

    margin-bottom: 25px;
}

.footer-logo-text {
    font-size: 16px;
    line-height: 1.25;
    width: 265px;
}

.footer-logo-text-nav-address-container {
    display: flex;
    margin-bottom: 100px;
}

.footer-nav-adress-container {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.footer-nav {
    margin-bottom: 0;
}

.anchor-link-list {
    row-gap: 25px;
}

.anchor-link {
    font-size: 32px;
}

.address {
    margin-bottom: 0;
}

.address-contacts-list {
    row-gap: 25px;
}

.address-contacts {
    font-size: 18px;
    line-height: 1.11;
}

.footer-lower-link {
    font-size: 18px;
    line-height: 1.11;
}

.footer-lower-paragraph {
    font-size: 18px;
    line-height: 1.11;
}
}

@media screen and (min-width: 1280px) {
.footer-container {
    padding: 50px 100px;
}

.footer-logo-text-container {
    margin-right: auto;
}

.footer-logo:hover {
    cursor: pointer;
}

.footer-logo-text-nav-address-container {
    display: flex;
    margin-bottom: 125px;
}

.footer-nav-adress-container {
    flex-direction: row;
    column-gap: 121px;
}

.anchor-link {
    font-size: 31px;
}
}