.reviews {
  position: relative;
  padding: 80px 0;
  background-color: #fbfbfb;
}

.reviews .container {
  padding: 0 20px;
}

.reviews-container {
  margin-bottom: 40px;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}

.reviews-title-edit {
  color: #576f35;
}

.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #141414;
}

.slider-container {
  overflow: hidden;
}

.reviews-list {
  display: flex;
  flex: none;
  transition: 0.4s;
}

.reviews-item {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 20px 16px 0 16px;
  width: calc(100vw - 40px);
  max-width: 335px;
  height: 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: none;
}

.reviews-img {
  border-radius: 50%;
  margin-bottom: 24px;
}

.reviews-item-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}

.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

.slider-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.slider-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: rgba(87, 111, 53, 0.3);
  cursor: pointer;
}

.slider-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #576f35;
}

.slider-dot-active {
  visibility: hidden;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #fbfbfb;
  transform: scale(0);
  transition: 0.2s ease-in-out;
}

.slider-dot-active.is-active {
  visibility: visible;
  transform: scale(100%);
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 100px 0;
  }

  .reviews .container {
    padding: 0 32px;
  }

  .reviews-container {
    max-width: 553px;
    margin-bottom: 50px;
  }

  .reviews-list {
    gap: 18px;
  }

  .reviews-item {
    padding: 20px;
    width: calc((100vw - 82px) / 2);
    max-width: 343px;
  }

  .reviews-title {
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 25px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 125%;
  }

  .reviews-item-title {
    font-size: 18px;
    line-height: 110%;
  }

  .reviews-item-text {
    font-size: 16px;
    line-height: 140%;
  }

  .reviews-item:nth-child(2) {
    display: flex;
  }

  .slider-dot-container:last-child {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding: 100px 0;
  }
  .reviews .container {
    padding: 0 100px;
  }

  .reviews-list {
    flex: 1;
    gap: 25px;
  }

  .reviews-item {
    flex: 1;
  }

  .slider-dots {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .slider-dot-container:hover .slider-dot-active {
    visibility: visible;
    transform: scale(100%);
  }
}
