/*  Your Order */

/* Evgen Fedorchenko */

.title-your-order {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.title-your-order-exception {
  color: rgba(251, 251, 251, 0.3);
}

.container-your-order-paragraph {
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  margin-bottom: 40px;
  color: #fbfbfb;
  line-height: 1.28;
}

.your-order-picture-card-container {
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  background-color: #4e6e38;
  width: 100%;
  padding: 40px 20px;
}

.img-your-order {
  margin-bottom: 20px;
}

.picture-your-order {
  border-radius: 20px;
}

.img-your-order {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}

.picture-cotainer-paragraph-follow {
  color: #fbfbfb80;
  font-size: 14px;
  margin-bottom: 5px;
}

.picture-cotainer-order-list {
  font-size: 24px;
  color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.picture-cotainer-order-list li {
  display: inline;
}

.picture-cotainer-order-list li:not(:last-child)::after {
  content: ' / ';
}

.picture-cotainer-order-list a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .your-order-picture-card-container {
    max-width: 628px;
    padding: 50px;
  }

  .img-your-order {
    margin-bottom: 50px;
  }

  .picture-cotainer-paragraph-follow {
    font-size: 18px;
  }

  .picture-cotainer-order-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 32px;
  }
  .container-your-order {
    display: flex;
    flex-direction: column;
  }
  .container-your-order-paragraph {
    margin-bottom: 50px;
  }

  .title-your-order {
    font-size: 64px;
    margin-bottom: 25px;
  }

  .container-your-order-paragraph {
    font-size: 16px;
  }

  .title-your-order,
  .container-your-order-paragraph {
    max-width: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .your-order-picture-card-container {
    max-width: 527px;
  }

  .title-your-order,
  .container-your-order-paragraph {
    margin-left: 0;
    max-width: 751px;
  }
  .title-your-order {
    margin-bottom: 25px;
  }
}

/* Evgen Fedorchenko */

/* Lena Bokhan*/
.container-your-order {
  background: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}
.your-order-windows {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.your-order-window-input {
  width: 100%;
  background: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
}
.order-form-paragraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.order-paragraph-exception-first {
  color: #7a3145;
}
.order-paragraph-exception-second {
  color: #576f35;
}
.form-your-order {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.form-order-input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding-left: 16px;
  height: 46px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;
  transition: border-color linear 0.4s;
}
.form-order-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #141414;
}
.order-textarea {
  padding-top: 14px;
  border-radius: 15px;
  height: 91px;
}
.form-order-input:focus {
  border-color: #7a3145;
}
.form-order-input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}

.form-order-input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}
.your-order-button {
  background: #576f35;
  border-radius: 30px;
  width: 100%;
  height: 50px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .container-your-order {
    background: #7a3145;
    padding: 100px 32px;
  }
  .your-order-windows {
    padding-left: 38px;
    padding-right: 38px;
    justify-content: center;
    gap: 25px;
  }
  .your-order-window-input {
    padding: 50px 100px;
    max-width: 628px;
  }
  .order-form-paragraph {
    margin-bottom: 50px;
  }
  .form-order-input {
    height: 52px;
  }
  .form-order-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: #141414;
  }
  .order-textarea {
    padding-top: 16px;
    height: 95px;
  }
  .your-order-button {
    height: 52px;
    font-size: 18px;
    line-height: 1.11;
  }
  .form-your-order {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .your-order-windows {
    padding-left: 0;
    padding-right: 0;
    gap: 24px;
    flex-wrap: nowrap;
  }

  .your-order-window-input {
    padding-left: 50px;
    padding-right: 50px;
    width: 529px;
  }

  .container-your-order {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/*/Lena Bokhan/*/
